// color-переменная

$body-color: #000;

$white: #fff;
$black: #000;

$secondary: rgb(219, 219, 219);

$neutral: #e6e3c4;
$neutral-dark:#282828;
$neutral-sun: #998431;
$neutral-sun-hover: #8b792d;

$border-gray: #c4c4c4;
